<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto
        quod iusto natus fugiat animi reiciendis fuga dignissimos doloribus
        error asperiores.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto
        quod iusto natus fugiat animi reiciendis fuga dignissimos doloribus
        error asperiores.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto
        quod iusto natus fugiat animi reiciendis fuga dignissimos doloribus
        error asperiores.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
